
.blocks-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.blocks-header-h1 {
  margin: 0;
  font-size: 2rem;
}

.block-radiobutton {

  width: 25%;
}
.block-buttons{
  width: 33%;
}
.radio-buttons {
  margin-top: 1rem;
}
.text-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.long-text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.long-text{
  color:#6d737e;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.block-text {
  max-width: 50vh;
  text-align: center;
  width: 33%;
}
.button {
  height: 7vh;
  width: 7vw;
  background-color: #2a2d36;
  border: 2px solid #bebebe;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #cd7400;
}
