<div class="blocks-container">
  <div class="blocks-header">
  <h2 class="blocks-header-h1">Nagłówek H1</h2>
  </div>
  <hr class="break-line-section"/>
  <div class="block-sections">
  <div class="block-radiobutton">
    <div class="text-container">
      <p>BLOK PIERWSZY</p>
    </div>
    <input name="options" ng-control="options" type="radio" value="1" >Opcja pierwsza<br>
    <input name="options" ng-control="options" type="radio" value="1" >Opcja druga<br>
    <input name="options" ng-control="options" type="radio" value="1" >Opcja losowa<br>
  </div>
    <div class="block-buttons">
      <div class="text-container">
      <p>BLOK DRUGI</p>
      </div>
      <div class="button-container">
      <button class="button">Zastąp</button>
      <button class="button">Doklej</button>
      </div>
    </div>
    <div class="block-text">
      <div class="text-container">
      <p class="long-text-title">BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE....</p></div>
      <p class="long-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus laoreet cursus. Nunc aliquet tempor purus ac faucibus. Duis vulputate libero ac risus posuere sagittis. Cras ornare purus a sollicitudin pellentesque. Morbi sollicitudin tortor ipsum, et placerat ante aliquet ut. Praesent fringilla ante posuere risus egestas, quis pulvinar enim luctus. Vivamus sagittis eleifend turpis, sed nisi.</p>
    </div>
  </div>
</div>

