.header-container{

  align-items: center;

  padding: 0;
}
.header-icon {
  border-radius: 50%;
  background-color: white;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
.dane{
  font-weight: 400;
}
.header-icon-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.header-title {
  font-size: 1.5rem;
  margin: 2rem 2rem 2rem 0;
}
