/* You can add global styles to this file, and also import other style files */
.html{
  font-size: 1rem;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}
.body{
  font-family: "Montserrat-Light",serif;
  padding: 0;
  margin: 0;
  min-height: 100%;

}


.break-line-section {
  border: solid white;
  height: 0;
  width: 16%;
  opacity: 1;
  margin-top: 0;
}
.footer-container ,.header-container,.block-sections{
  display: flex;
  justify-content: space-between;
}
