.footer-container{
  width: 100%;
  background-color: #101010;
  min-height: 30vh;
  overflow: hidden;
  color: #ffffff;
}
.img-container{
  width: 65px;
  height: 65px;
}
.button-show{
  background-color: #101010;
  border-color: #bebebe;
  color: #ffffff;
  border-radius: 1px;
  box-shadow: none;
  margin: 2rem 1rem 1rem 0;
  height: 9vh;
  width: 12vw;
}
.footer-title{


}
